[package]
name = "okid"
version = "0.1.37"
edition = "2021"
readme = "README.md"
description = "A library for gereating double clickable ids"
license = "BSD-3-Clause"

[dependencies]
async-graphql = { version = "7.0.11", optional = true }
blake3 = { version = "1.5.4", optional = true }
bytes = { version = "1.7.2", features = ["serde"] }
digest = "0.10.7"
enumflags2 = "0.7.10"
git2 = { version = "0.18.3", optional = true, default-features = false }
hex = { version = "0.4.3", features = ["serde"] }
jetstream_wireformat = "5.1.4"
serde = { version = "1.0.210", features = ["derive"] }
serde_json = "1.0.128"
sha1 = { version = "0.10.6", optional = true }
sha2 = { version = "0.10.8", optional = true }
sha3 = { version = "0.10.8", optional = true }
ulid = { version = "1.1.3", optional = true, features = ["uuid"] }
utoipa = { version = "^5.0.0-beta.0", optional = true }
uuid = { version = "1.10.0", optional = true, features = ["js", "v4"] }

[features]
default = ["sha1", "sha2", "sha3", "blake3", "uuid", "ulid", "openapi"]
sha1 = ["dep:sha1"]
sha2 = ["dep:sha2"]
sha3 = ["dep:sha3"]
blake3 = ["dep:blake3"]
uuid = ["dep:uuid"]
ulid = ["dep:ulid"]
openapi = ["dep:utoipa"]
git = ["dep:git2"]
graphql = ["dep:async-graphql"]

[dev-dependencies]
insta = { version = "1.40.0", features = ["yaml"] }
